.git
.gitignore

.env
.env.*
!.env.example

.DS_Store
**/.DS_Store

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

node_modules/
frontend/node_modules/
.pnpm-store/
frontend/dist/
frontend/.vite/

src/media/
src/staticfiles/
src/celerybeat/

security/zap/
*.log
